
  
  <br>
<div id="mySidenav" class="sidenav">
<a class="closebtn" onclick="closeNav()">&times;</a>
<h1>CRAVINGS</h1>
<a href="#">Profile</a>
<a href="#">Wallet</a>
<a href="#">History</a>
<a href="#">FAQs</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

<script>
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
}


</script>


<body>



<div style="text-align:center">
<h2>YOUR MEAL. YOUR QUESTIONS.</h2>
</div>

<div id="example1">
<h3 style="color: white" style="font-size: 60px;">You asked. We answered.</h3>
<p style="color:whitesmoke;">Search below to find out all the queries, doubts and all those burning questions.</p>
</div>
<br>
<br>
<br>
<h1>Customer</h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How do I order food?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        It's a piece of cake - firstly login using your credentials and search for your preferred food, cuisines or any vendor. Select your food, assign the quantity and click on 'Add to Cart', then check your order once in order cart. Lastly, pay for your order using in used wallet.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How to view only Veg item from restaurant menu?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Searching your favourite item from whole menu is headache. We are providing solution for this also. If you are interested in only Pure Veg items then view menu of only Veg items. Go to Menu Page of the website and search for food type veg and you will get all food items which are pure Veg.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How to view only Non-Veg item from restaurant menu?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Searching your favourite item from whole menu is headache. Foodchow providing solution for this also. If you are interested in only Pure Non Veg items then view menu of Non Veg items. Go to Menu Page of the website and search for food type non-veg and you will get all food items which are Non Veg.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          From where we can login to Customer account?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        If the customer has already has an account, they can login using their credentials. Customer can login through the login portal dispalyed on th front page of the website.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
          How to change password of customer account?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Customer can change password of their panel by going to My Profile after login to their account. After changing the password of customer account customer can login to account using new password.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
          Who will receive payment of orders?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Restaurant owner will get whole payment of orders placed through Cravings. The money will be added directly into their in used Vendor wallet.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
          Who will issue refund for order cancellation or other issue?
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        To customer, refund will be issue by restaurant owner only. The refunded money will directly be added in customer wallet itself.
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<h1>Vendor</h1>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What if I(Vendor) forgot my password?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Vendor can change their password easily by clicking on 'Forget Passowrd'. Thr 'Forget Password' is displayed on the front page of the website, under login portal of the website.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Where shall I(Vendor) receive my payments?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Vendor will directly get their payments by the customer on their respective vendor wallet in the website itself. The money later can be accessed by the vendoor using their account number of their particular banks.
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
          Is it necessary to create an account to be a vendor at Cravings?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Vendor would need to register themselves by ceating an account at Cravings, in order to receive orders from customer. In order to be in direct with the customer, vendors need to be a registered vendor with Cravings!
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
          Where will my menu displayed(Vendor's Menu?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        The menu will be directly can be accessed from the home page of the website of Cravinngs. The home page contains 'Menu' button, wherein customer can click on the button to view the menu. The customer can search for particular vendor for thier menu. Customer need not to login to view menu but directly view it.
      </div>
    </div>
  </div>
</div>
    

</body>

<footer class="footer">
  <ul>
      <li><a href="https://www.facebook.com/"><img src="../../assets/fb.png"></a></li>
      <li><a href="https://www.instagram.com/"><img src="../../assets/instagram.png"></a></li>
      <li><a href="https://twitter.com/?lang=en"><img src="../../assets/twitter.png"></a></li>
  </ul>
  <h2>© Cravings 2021</h2>
</footer>
