<body><br><div class="typewriter">
  <h1>ABOUT</h1>
</div>
<div class="Content">
<h3>What is Cravings?</h3>
<p>Cravings is a Web app which can be used to order food.</p>
<h3>Our Goal?</h3>
<p>Our goal is to deliver quality food at your doorstep for an affordable price.</p>
<h3>Meet the developers</h3>
</div>
<div class = "background">
<!-- Main Program-->
<div class="container">
<div class="box">
  <div class="imgbox">
      <img src="Assets/images/anusree.jpg">
  </div>
  <nav>
      <ul class="social">
          <li><a href="https://en-gb.facebook.com/shivansh.kotnala.5"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/Shivanshkotnala"><i class="fa fa-twitter"
                      aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
  </nav>
  <div class="details">
      <h2>Anusree Mohanan<br> <span>Software Engineer</span></h2>
  </div>
</div>

<div class="box2">
  <div class="imgbox">
      <img src="../../assets/shivansh.jpg">
  </div>

  <ul class="social2">
      <li><a href="https://en-gb.facebook.com/shivansh.kotnala.5"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/Shivanshkotnala"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>

  <div class="details">
      <h2>Shivansh Kotnala <br> <span>Software Engineer</span></h2>
  </div>
</div>
<div class="box3">
  <div class="imgbox">
      <img src="Assets/images/priyash.jpg">
  </div>
  <nav>
      <ul class="social3">
          <li><a href="https://en-gb.facebook.com/shivansh.kotnala.5"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/Shivanshkotnala"><i class="fa fa-twitter"
                      aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
  </nav>
  <div class="details">
      <h2>Priyash Srivastava<br> <span>Software Engineer</span></h2>
  </div>
</div>
<div class="box4">
  <div class="imgbox">
      <img src="Assets/images/likhita.jpg">
  </div>
  <nav>
      <ul class="social4">
          <li><a href="https://en-gb.facebook.com/shivansh.kotnala.5"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/Shivanshkotnala"><i class="fa fa-twitter"
                      aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
  </nav>
  <div class="details">
      <h2>Likhita V<br> <span>Software Engineer</span></h2>
  </div>
</div>
</div><br>
</div>

<app-footer class="footer"></app-footer>
</body>
